# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Django static/media
backend/staticfiles/

# Environment
.env
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
