DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
APP_TIMEZONE=Asia/Novosibirsk

POSTGRES_DB=seugc
POSTGRES_USER=seugc
POSTGRES_PASSWORD=seugc
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
